.dropDown {
  position: relative;
  &__button {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__buttonIcon {
    transition: .4s ease transform;
    transform: rotate(0deg);
    &_active {
      transition: .4s ease transform;
      transform: rotate(180deg);
    }
  }

  &__block {
    position: absolute;
    top: 2rem;
    width: 12.1rem;
    padding: 1.4rem 0;
    border-radius: 1.2rem;
    border: 1px solid #D6DCE5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    z-index: 30;
    overflow-y: scroll;
    max-height: 28rem;
    min-height: fit-content;
  }
  &__list {
    width: 90%;
    padding: .75rem 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    &:hover {
      border-radius: .5rem;
      background-color: #F1F4F8;
    }
  }
  &__buttonValue {
    font-size: 1.4rem;
    &:hover {
      color: #268AE5;
    }
    &_active {
      font-size: 1.4rem;
      color: #268AE5;
    }
  }
}