.aside {
  width: 40rem;
  &__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__tabs {
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    column-gap: 1.8rem;
  }
  &__btnTab {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    opacity: .6;
    &_active {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-decoration-line: underline;
    }
  }
  &__checkboxes {
    margin-top: 3.2rem;
  }
}