.catalogsMain {
  width: 100%;
  margin-bottom: 8rem;
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 6rem;
    column-gap: 3rem;
  }
  &__card {
    display: flex;
    align-items: flex-start;
    column-gap: 1.6rem;
  }
  &__cardBlock {
    display: flex;
    flex-direction: column;
  }
  &__cardTitle {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  &__cardLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.6rem;
  }
  &__wrapperLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.6rem;
    overflow: hidden;
    height: 15rem;
    &_active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.6rem;
      overflow: hidden;
      height: fit-content;
    }
  }
  &__link {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    transition: .4s ease all;
    color: black;
    text-decoration: none;
    &:hover {
      color: #186dbb;
    }
  }
  &__linkSeeAll {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #268AE5;
    transition: .4s ease opacity;
    text-decoration: none;
    margin-top: 2.4rem;
    &:hover {
      opacity: .8;
    }
  }
}