.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #f6f8fa;
  border-radius: 1.2rem;
  padding: 3.2rem;
  min-height: 34rem;
  gap: 2rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: var(--text-color);
  text-decoration: none;
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @media (hover: hover) {
    &:hover {
      .image {
        transform: scale(1.02);
      }
    }
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  max-width: 19rem;
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  z-index: -1;
  width: 34rem;
  height: 34rem;
  margin-right: -4rem;
  margin-bottom: -8rem;
  transition: transform 0.4s;
}

.link {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 100%;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s;

  svg {
    fill: currentColor;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    transition: transform 0.2s;
    margin-top: 0.1rem;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color-hover);
      svg {
        transform: translateX(0.2rem);
      }
    }
  }
}
