.filter {

  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    padding: 3.2rem 0 2.4rem;
  }
  &__block {
    display: flex;
    &:last-child {
      justify-content: space-between;
    }
    column-gap: .8rem;
    row-gap: .8rem;
    flex-wrap: wrap;
  }
  &__switchBlock {
    display: flex;
    align-items: center;
    column-gap: .8rem;
    p {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }
  &__blockPages {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  &__blockTags {
    display: flex;
    column-gap: .8rem;
    row-gap: .8rem;
    flex-wrap: wrap;
  }
  &__pagesBtn {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: .4s ease all;
  }
  &__pagesBtnIcon {
    transform: rotate(0);

    &_active {
      transition: .4s ease all;
      transform: rotate(180deg);
    }
  }
}