.catalogTable {
  margin-top: 6rem;
  &__table {
    margin-top: 6rem;
    &:last-child {
      margin:6rem 0 8rem;
    }
  }
  &__titleTable {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 100%;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-auto-rows: 1fr;
    row-gap: 4rem;
    margin-top: 3.2rem;
  }
  &__item {
    display: flex;
    column-gap: 1.6rem;
  }
  &__section {
    padding: .6rem;
    color: #268AE5;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: .4rem;
    background-color: #F1F4F8;
    height: fit-content;
  }
  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }
  &__link {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    text-decoration: none;
    transition: .4s ease color;
    &:hover {
      color: #268AE5;
    }
  }
}