.pageHeader {
  background: #ffffff;

  margin-bottom: 3.2rem;
}

.top {
  background: #f1f4f8;
  position: relative;
  z-index: 60;
}
.topRow {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}
.bottom {
  background: white;
  position: relative;
  z-index: 50;
  box-shadow: 0px 0.8rem 1.2rem rgba(48, 59, 77, 0.1);
}
.bottomRow {
  display: flex;
  align-items: center;
  padding: 2.4rem 0;
}

.logoLink {
  width: 20rem;
  flex-shrink: 0;
  margin-right: 3rem;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}
