.homeInfo {
  margin-bottom: 8rem;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  & p {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
