.dashboardTabs {
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background: #f1f4f8;
  border-radius: 0.8rem;
  align-self: flex-start;
  margin-bottom: 4rem;
}

.navBtn {
  display: inline-grid;
  grid-template-columns: minmax(0, 1fr);
}

.navBtnContent {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  padding: 1rem 3.2rem;
  border-radius: 0.5rem;
  z-index: 20;

  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }
}

.underline {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #fff;
  border-radius: 0.5rem;
  align-self: stretch;
  justify-self: stretch;
}

.tabsContainer {
}
.tabItem {
}
