.checkbox {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
  white-space: nowrap;
}

.checkboxText {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
}

.checkboxMark {
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border: 1px solid #d6dce6;
  border-radius: 0.2rem;
  transition: border-color 0.2s, background-color 0.2s;
  background-color: #fff;

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.61 7.78' fill='white'%3E%3Cpolygon points='4.24 7.78 0 3.54 1.41 2.12 4.24 4.95 9.19 0 10.61 1.41 4.24 7.78' /%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.markChecked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  &::after {
    opacity: 1;
  }
}

.green {
  color: #4cd04a;
}
