.manuf {
  margin-top: 3.5rem;
  &__title {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }
  &__checkboxes {
    padding-top: 1rem;
  }
  &__checkboxesWrapper {
    padding: 1rem 0;
    overflow-y: scroll;
    height: 17.5rem;
    button {
      height: 2rem;
    }
  }
}